<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo center">Eat-Da-Burger</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a href="https://www.linkedin.com/in/vitaliy-vorobyev-b5971210a/">LinkedIn</a></li>
			<li><a href="https://github.com/Vvitali">GitHub</a></li>
			<li><a href="https://vvitali.github.io/Bootstrap-Portfolio/">My Personal Web-Page</a></li>
		</ul>
	</div>
</nav>