<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-da-burger</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/burger_style.css">
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
</head>
<body>
	{{> navbar}}
	<h1 class="center-align">Hello burger-fan!</h1> 

	{{{ body }}}

	{{> footer}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$("#bAdd").click(function(){			
			if(!!$("#nameOfNewBurger").val()){
				console.log("Add-BTN!");
				var data = {
					name: $("#nameOfNewBurger").val()
				};
				$.post("/addBurger", data, function(event){
					if(event){
						console.log(event);
						var newItem = $("<li data-id="+event.id+">");
						newItem.append("<h4>"+event.name+"</h4>");
						newItem.append("<button class='btn devourBtn'>Devour</button>");
						$("#inBase").append(newItem);
					}
				});
			}
		});
		$("#inBase").on("click", ".devourBtn", function(event){
			$.post("/update", {id: $(event.target).parent().attr("data-id")}, function(response){
				if(event){
					console.log("Response: "+response.id);
					console.log($(event.target).parent().attr("data-id"));

					$(event.target).parent().appendTo(".burgerItemDevoured");
					$(event.target).remove();
				}
			});
			
		})
	</script>
</body>
</html>



