/*.page-footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	}*/

.burgerItem h4, button{
	display: inline-block;
}

.burgerItem button{
	margin: 20px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}